<form
  #ngForm="ngForm"
  [formGroup]="adminForm"
  (ngSubmit)="performAction(ngForm)"
  class="page__form"
  *ngIf="!isLoadingForm; else loadingMask"
>
  <div class="page__form-content">
    <div class="page__form-input">
      <app-input id="name" name="name" label="Name" [formControlItem]="name">
      </app-input>
    </div>
    <div class="page__form-input">
      <app-input
        id="description"
        name="description"
        label="Description"
        [formControlItem]="description"
      >
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input
        id="descriptiemailon"
        name="email"
        label="Email"
        [formControlItem]="email"
      >
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input
        id="country"
        name="country"
        label="Country"
        [formControlItem]="country"
      >
      </app-input>
    </div>
    <div class="page__form-input">
      <div class="form-item">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="partnerId" label="Partner">
            <ng-select
              (change)="getRoles()"
              [searchable]="false"
              formControlName="partnerId"
            >
              <ng-option *ngFor="let partner of partners" [value]="partner.id">
                {{ partner.name }}</ng-option
              >
            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>
    <div class="page__form-input">
      <div class="form-item">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="roleId" label="Role">
            <ng-select [searchable]="false" formControlName="roleId">
              <ng-option *ngFor="let role of roles" [value]="role.id">
                {{ role.name }}</ng-option
              >
            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>
    <div class="page__form-input">
      <div class="form-item" *ngIf="showTogglePassword">
        <div class="form-item__value form-item__value_is-checkbox">
          <mat-checkbox
            [checked]="shouldSetPassword"
            (change)="togglePassword()"
          >
            Change Password
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="form-item__container" *ngIf="shouldSetPassword">
      <div class="page__form-input">
        <app-input
          id="password"
          name="password"
          type="password"
          label="Password"
          [formControlItem]="password"
        >
        </app-input>
      </div>

      <div class="page__form-input">
        <app-input
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          label="Confirm Password"
          [formControlItem]="confirmPassword"
        >
        </app-input>
      </div>
    </div>

    <div class="page__form-input">
      <app-input
        id="active"
        name="active"
        label="Active"
        [formControlItem]="active"
      >
      </app-input>
    </div>
  </div>
  <div class="page__form-button-container" *ngIf="canEditAdmin">
    <div class="page__form__button">
      <app-button-item [isSecondary]="true" type="reset" label="Reset">
      </app-button-item>
    </div>
    <div class="page__form__button">
      <app-button-item [label]="buttonLabel"> </app-button-item>
    </div>
  </div>
</form>

<ng-template #loadingMask>
  <app-form-loading [size]="6"></app-form-loading>
</ng-template>
