<div class="page">
  <div class="page__section">
    <app-page-header
      [label]="title"
      buttonLabel="Back to Suppliers"
      link="/suppliers"
    >
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container">
      <app-supplier-form
        [supplier]="supplier$ | async"
        [isLoading]="isLoading$ | async"
        [canEditSupplier]="canEditSupplier$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-supplier-form>
    </div>
  </div>
</div>
