<div class="page">
  <div class="page__section">
    <app-page-header [label]="title" buttonLabel="Back to Users" link="/users">
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container">
      <app-user-form
        [user]="user$ | async"
        [isLoading]="isLoading$ | async"
        [canEditUser]="canEditUser$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        [actionErrors]="actionErrors$ | async"
        [actionType]="actionType"
        (submitForm)="performAction($event)"
      >
      </app-user-form>
    </div>
  </div>
</div>
