<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button mat-button class="button button_is-primary" routerLink="/roles">
          Back To Roles
        </button>
      </div>
    </div>
    <div class="page__form-container">
      <app-role-form
        [role]="role$ | async"
        [partners]="partners$ | async"
        [permissions]="permissions$ | async"
        [isLoading]="isLoading$ | async"
        [canEditRole]="canEditRole$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-role-form>
    </div>
  </div>
</div>
