<div class="page">
  <div class="page__section">
    <app-page-header [label]="title" buttonLabel="Back to Roles" link="/roles">
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container">
      <app-role-form
        [role]="role$ | async"
        [partners]="partners$ | async"
        [permissions]="permissions$ | async"
        [isLoading]="isLoading$ | async"
        [canEditRole]="canEditRole$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        [actionError]="actionErrors$ | async"
        [actionType]="actionType"
        (submitForm)="performAction($event)"
      >
      </app-role-form>
    </div>
  </div>
</div>
