<div class="page">
  <mat-progress-bar
    *ngIf="isLoading$ | async"
    class="page__progress-bar"
    mode="indeterminate"
    color="primary"
  >
  </mat-progress-bar>
  <div class="page__section">
    <app-page-header
      label="Translations"
      buttonLabel="Add Translation"
      [condition]="canAddTranslation | async"
      (action)="addTranslation()"
    >
      <div class="page__filters-container">
        <div class="page__filter-item page__filter-item_is-search">
          <app-search-input
            placeholder="Search"
            [filterHandler]="filterHandler"
            (filter)="getTranslations()"
          ></app-search-input>
        </div>
      </div>
    </app-page-header>
  </div>
  <div class="page__container">
    <mat-table
      mat-table
      [dataSource]="translations$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let translation">{{ translation.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="partner">
        <mat-header-cell *matHeaderCellDef>Partner</mat-header-cell>
        <mat-cell *matCellDef="let translation">{{
          translation.partner.name
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="language">
        <mat-header-cell *matHeaderCellDef>Language</mat-header-cell>
        <mat-cell *matCellDef="let translation">
          <span *ngIf="translation.language">
            {{ translation.language.name }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef>Key</mat-header-cell>
        <mat-cell *matCellDef="let translation">
          <span *ngIf="translation.languageKey">
            {{ translation.languageKey.name }}
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
        <mat-cell *matCellDef="let translation">
          {{ translation.value }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let translation" class="action-link">
          <a class="table__action" (click)="editTranslation(translation.id)">
            <mat-icon>edit</mat-icon>
          </a>
          <a
            class="table__action"
            (click)="deleteTranslation(translation.id)"
            *ngIf="canDeleteTranslation | async"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
