<div class="login">
  <div class="login__container">
    <form
      [formGroup]="loginForm"
      #formDirective="ngForm"
      (ngSubmit)="login(loginForm, formDirective)"
      class="login__form"
    >
      <div class="login__form-item">
        <app-input-item
          id="email"
          name="email"
          title="Email"
          [formControlItem]="email"
          [validationMessages]="validationMessages"
        >
        </app-input-item>
      </div>
      <div class="login__form-item">
        <app-input-item
          id="password"
          name="password"
          type="password"
          title="Password"
          [formControlItem]="password"
          [validationMessages]="validationMessages"
        >
        </app-input-item>
      </div>
      <button mat-button class="button button_is-primary">
        {{ loginLabel | async }}
      </button>
    </form>
  </div>
</div>
