<div class="login">
<div class="login__logo">
  <img  class="login__logo-image" src="assets/logos/logo.png" alt="smartways">
</div>
  <div class="login__container">
    <div class="login__title">
      Login
    </div>
    <form
      [formGroup]="loginForm"
      #formDirective="ngForm"
      (ngSubmit)="login(loginForm, formDirective)"
      class="login__form"
    >
      <div class="login__form-item">
        <app-input-item
          id="email"
          name="email"
          title="Email"
          [formControlItem]="email"
        >
        </app-input-item>
      </div>
      <div class="login__form-item">
        <app-input-item
          id="password"
          name="password"
          type="password"
          title="Password"
          [formControlItem]="password"

        >
        </app-input-item>
      </div>
      <div class="login__form-item">
        <button mat-button class="button button_is-primary">
          {{ loginLabel | async }}
        </button>
      </div>
      <div class="login__form-item login__form-item_is-link">
        <a class="login__form-link">
          Forgot your password?
        </a>
      </div>
    </form>
  </div>
</div>
