<div class="authentication__section">
  <div class="authentication__title">
    Set New Password
  </div>
  <form
    [formGroup]="setPasswordForm"
    #formDirective="ngForm"
    (ngSubmit)="setPassword(setPasswordForm, formDirective)"
    class="authentication__form"
  >
    <div class="authentication__form-section">
      <div class="authentication__form-item">
        <app-input
          type="password"
          id="password"
          name="password"
          label="Password"
          [formControlItem]="password"
        >
        </app-input>
      </div>
      <div class="authentication__form-item">
        <app-input
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          label="Confirm Password"
          [formControlItem]="confirmPassword"
        >
        </app-input>
      </div>
    </div>
    <div class="authentication__form-section">
      <div class="authentication__button-container">
        <div class="authentication__button">
          <app-button-item class="button button_is-primary" [label]="resetLabel | async">
          </app-button-item>
        </div>
      </div>
    </div>
  </form>
</div>
