<div class="authentication__section">
  <div class="authentication__title">
   Set New Password
  </div>
  <form
    [formGroup]="loginForm"
    #formDirective="ngForm"
    (ngSubmit)="login(loginForm, formDirective)"
    class="authentication__form"
  >
    <div class="authentication__form-section">
      <div class="authentication__form-item">
        <app-input-item
          type="password"
          id="password"
          name="password"
          label="Password"
          [formControlItem]="password"
        >
        </app-input-item>
      </div>
      <div class="authentication__form-item">
        <app-input-item
          id="confirmPassword"
          type="password"
          name="confirmPassword"
          label="Confirm Password"
          [formControlItem]="confirmPassword"
        >
        </app-input-item>
      </div>
    </div>
    <div class="authentication__form-section">
      <div class="authentication__button-container">
        <div class="authentication__button">
          <button mat-button class="button button_is-primary">
            {{ resetLabel | async }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
