<form
  [formGroup]="languageForm"
  #formDirective="ngForm"
  (ngSubmit)="performAction(formDirective)"
  class="page__form"
  *ngIf="!isLoadingForm; else loadingMask"
>
  <div class="page__form-content">
    <div class="page__form-input">
      <app-input
        id="name"
        name="name"
        label="Name"
        [formControlItem]="name"
      >
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input
        id="code"
        name="code"
        label="Code"
        [formControlItem]="code"
      >
      </app-input>
    </div>
  </div>
  <div class="page__form-button-container" *ngIf="canEditLanguage">
    <div class="page__form__button">
      <button mat-button type="reset" class="button button_is-secondary">
        Reset
      </button>
    </div>
    <div class="page__form__button">
      <button mat-button type="submit" class="button button_is-primary">
        {{ buttonLabel }}
      </button>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="2"></app-form-loading>
</ng-template>
