<input
  #fileInput
  style="display: none"
  type="file"
  accept="image/*"
  (change)="preview($event)"
/>
<div class="page__upload-container">
  <div class="page__upload-button">
    <button type="button" mat-button class="button button_is-primary" (click)="fileInput.click()">
      Select image
    </button>
  </div>
  <div class="page__upload-error" *ngIf="message">
    {{ message }}
  </div>
</div>
<div class="page__upload-image-container" *ngIf="imageSource">
  <img (click)="fileInput.click()" [src]="imageSource" class="page__upload-image" />
</div>
<div class="page__upload-name">
  {{ imageName }}
</div>
