<input
  #fileInput
  style="display: none"
  type="file"
  accept="image/*"
  (change)="preview($event)"
/>
<div class="page__upload-container">
  <div class="page__upload-button">
    <app-button-item
      type="button"
      [isSecondary]="true"
      (click)="fileInput.click()"
      label=" Select image"
    >
    </app-button-item>
  </div>
  <div class="page__upload-error" *ngIf="message">
    {{ message }}
  </div>
</div>
<div class="page__upload-image-container" *ngIf="imageSource">
  <img
    (click)="fileInput.click()"
    [src]="imageSource"
    class="page__upload-image"
  />
</div>
<div class="page__upload-name">
  {{ imageName }}
</div>
