<div class="page">
  <mat-progress-bar
    *ngIf="isLoading$ | async"
    class="page__progress-bar"
    mode="indeterminate"
    color="primary"
  >
  </mat-progress-bar>
  <div class="page__section">
    <app-page-header
      label="Languages"
      buttonLabel="Add Language"
      [condition]="canAddLanguage | async"
      (action)="addLanguage()"
    >
      <div class="page__filters-container">
        <div class="page__filter-item page__filter-item_is-search">
          <app-search-input
            placeholder="Search"
            [filterHandler]="filterHandler"
            (filter)="getLanguages()"
          ></app-search-input>
        </div>
      </div>
    </app-page-header>
  </div>
  <div class="page__container">
    <mat-table
      mat-table
      [dataSource]="languages$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let language">{{ language.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let language">{{ language.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
        <mat-cell *matCellDef="let language">
          {{ language.code }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let language" class="action-link">
          <a class="table__action" (click)="editLanguage(language.id)"
            ><mat-icon>edit</mat-icon></a
          >
          <a
            class="table__action"
            (click)="deleteLanguage(language.id)"
            *ngIf="canDeleteLanguage | async"
          >
            <mat-icon>delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
