<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button
          mat-button
          class="button button_is-primary"
          routerLink="/translations"
        >
          Back To Translations
        </button>
      </div>
    </div>
    <div class="page__form-container">
      <app-translation-form
        [translation]="translation$ | async"
        [languageKeys]="languageKeys$ | async"
        [languages]="languages$ | async"
        [translation]="translation$ | async"
        [isLoading]="isLoading$ | async"
        [isLoadingLanguageKeys]="isLoadingLanguageKeys$ | async"
        [isLoadingLanguages]="isLoadingLanguages$ | async"
        [canEditTranslation]="canEditTranslation$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-translation-form>
    </div>
  </div>
</div>
