<div class="page">
  <div class="page__section">
    <app-page-header
      [label]="title"
      buttonLabel="Back to Admins"
      link="/admins"
    >
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container">
      <app-admin-form
        [admin]="admin$ | async"
        [roles]="roles$ | async"
        [partners]="partners$ | async"
        [isLoading]="isLoading$ | async"
        [actionType]="actionType"
        [isLoadingAction]="isLoadingAction$ | async"
        [canEditAdmin]="canEditAdmin$ | async"
        (getRolesForPartner)="getRoles($event)"
        (submitForm)="performAction($event)"
      >
      </app-admin-form>
    </div>
  </div>
</div>
