<div class="filter-control">
  <div class="filter-control__container">
    <div class="filter-control__item">
      <div class="filter-control__button">
        <button
          (click)="showModal = true"
          mat-icon-button
          aria-label="Example icon-button with a menu"
        >
          <app-icon name="filter-list"></app-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<app-x-modal
  *ngIf="showModal"
  type="filter-control"
  (closeModal)="closeModal()"
>
  <div class="filter-control__title-container" *ngIf="label">
    <div class="filter-control__title">{{ label }}</div>
    <div class="filter-control__close" (click)="closeModal()">
      <app-icon name="close"></app-icon>
    </div>
  </div>
  <div class="filter-control__filter-container">
    <ng-content></ng-content>
  </div>
  <div class="filter-control__buttons-container">
    <div class="filter-control__button">
      <button
        type="reset"
        mat-button
        (click)="resetFilters()"
        class="button button_is-secondary"
      >
        Reset Filters
      </button>
    </div>

    <div class="filter-control__button">
      <button
        type="submit"
        mat-button
        class="button button_is-primary"
        (click)="submitFilters()"
      >
        Apply Filters
      </button>
    </div>
  </div>
</app-x-modal>
