<div class="filters__container">
  <form
    class="filters__form"
    #ngForm="ngForm"
    [formGroup]="filterForm"
    (ngSubmit)="submitFilters()"
  >
    <div class="filters__item-container">
      <div class="filters__item-section">
        <div class="filters__item">
          <div class="filters__item-label">
            Filter By Retail Price
          </div>
          <div class="filters__item-input">
            <ng5-slider
              [options]="retailPriceSliderOptions"
              [(value)]="selectedRetailPriceRange.minimum"
              [(highValue)]="selectedRetailPriceRange.maximum"
              (userChangeEnd)="submitFilters()"
            ></ng5-slider>
          </div>
        </div>
        <div class="filters__item">
          <div class="filters__item-label">
            Filter By Original Price
          </div>
          <div class="filters__item-input">
            <ng5-slider
              [options]="originalPriceSliderOptions"
              [(value)]="selectedOriginalPriceRange.minimum"
              [(highValue)]="selectedOriginalPriceRange.maximum"
              (userChangeEnd)="submitFilters()"
            ></ng5-slider>
          </div>
        </div>
      </div>
      <div class="filters__item-section">
        <div class="filters__item">
          <div class="filters__item-label">
            Filter By Categories
          </div>
          <div class="filters__item-input">
            <app-select-options
              [options]="categoryOptionItems"
              (selected)="submitFilters()"
            >
            </app-select-options>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
