.select-options__container {
  padding: 20px;
}

.select-options__title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}

.select-options__list {
  margin-bottom: 20px;
}

.select-options__item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
