<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button
          mat-button
          class="button button_is-primary"
          routerLink="/products"
        >
          Back To Products
        </button>
      </div>
    </div>
    <div class="page__form-container">
      <app-product-form
        [product]="product$ | async"
        [categories]="categories$ | async"
        [isLoading]="isLoading$ | async"
        [canEditProduct]="canEditProduct$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-product-form>
    </div>
  </div>
</div>
