<div class="alert">
  <div class="alert__container">
    <div class="alert__title-container" *ngIf="alertOptions">
      <div
        class="alert__icon"
        [ngClass]="{ 'alert__icon_is-danger': isDanger }"
      >
        <app-icon [name]="alertOptions.icon"></app-icon>
      </div>
      <div class="alert__title">
        {{ alertOptions.label }}
      </div>
    </div>
    <div class="alert__item" *ngIf="text">
      {{ text }}
    </div>
    <div class="alert__actions">
      <div class="alert__action">
        <app-button-item
          [isSecondary]="true"
          [label]="cancelButtonText"
          mat-dialog-close
        >
        </app-button-item>
      </div>
      <div class="alert__action">
        <app-button-item
          *ngIf="!isAlert"
          [mat-dialog-close]="true"
          [label]="okButtonText"
        >
        </app-button-item>
      </div>
    </div>
  </div>
</div>
