@import '../../../../assets/styles/global';
@import 'sass-mq';

.alert__container {
  display: flex;
  flex-direction: column;
  width: 400px;

  @include mq ($until: tablet) {
    width: 100%;
  }
}

.alert__title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.alert__icon {
  margin-right: 10px;
  color: rgb(255, 139, 37);

  &_is-danger {
    color: $global--error-color;
  }
}

.alert__title {
  font-weight: bold;
  font-size: 18px;
}

.alert__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.alert__actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include mq ($until: tablet) {
    justify-content: center;
  }
}

.alert__action {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
