<div class="alert">
  <div class="alert__container">
    <div class="alert__item" *ngIf="title">
      {{ title }}
    </div>
    <div class="alert__item" *ngIf="text">
      {{ text }}
    </div>
    <div class="alert__actions">
      <div class="alert__action">
        <button mat-button class="button button_is-secondary" mat-dialog-close>
          {{ cancelButtonText }}
        </button>
      </div>
      <div class="alert__action">
        <button
          *ngIf="!isAlert"
          class="button button_is-primary"
          mat-button
          [mat-dialog-close]="true"
        >
          {{ okButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
