<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          Categories
        </div>
      </div>
      <div class="page__actions">
        <button
          mat-button
          class="button button_is-primary"
          (click)="addCategory()"
          *ngIf="canAddCategory | async"
        >
          Add Category
        </button>
      </div>
    </div>
    <div class="page__section">
      <div class="page__filters">
        <app-category-filters
          (filter)="getCategories($event)"
        ></app-category-filters>
      </div>
    </div>
    <mat-table
      mat-table
      [dataSource]="categories$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let category">{{ category.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let category">
          {{ category.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="parent">
        <mat-header-cell *matHeaderCellDef>Parent Category</mat-header-cell>
        <mat-cell *matCellDef="let category">
          <p *ngIf="category.parent">
            {{ category.parent.name }}
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let category" class="action-link">
          <a class="table__action" (click)="editCategory(category.id)"
            ><mat-icon>edit</mat-icon></a
          >
          <a
            class="table__action"
            (click)="deleteCategory(category.id)"
            *ngIf="canDeleteCategory | async"
            ><mat-icon>delete</mat-icon></a
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
