<div class="page">
  <div class="page__section">
    <app-page-header
      label="Categories"
      buttonLabel="Add Category"
      [condition]="canAddCategory | async"
      (action)="addCategory()"
    >
      <div class="page__filters-container">
        <div class="page__filter-item page__filter-item_is-search">
          <app-search-input
            placeholder="Search"
            (filter)="getCategories($event)"
          ></app-search-input>
        </div>
      </div>
    </app-page-header>
  </div>
  <div class="page__container">
    <mat-table
      mat-table
      [dataSource]="categories$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let category">{{ category.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let category">
          {{ category.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="parent">
        <mat-header-cell *matHeaderCellDef>Parent Category</mat-header-cell>
        <mat-cell *matCellDef="let category">
          <p *ngIf="category.parent">
            {{ category.parent.name }}
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let category" class="action-link">
          <a class="table__action" (click)="editCategory(category.id)"
            ><mat-icon>edit</mat-icon></a
          >
          <a
            class="table__action"
            (click)="deleteCategory(category.id)"
            *ngIf="canDeleteCategory | async"
            ><mat-icon>delete</mat-icon></a
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
