<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button mat-button class="button button_is-primary" routerLink="/keys">
          Back To Language Keys
        </button>
      </div>
    </div>
    <div class="page__form-container" *ngIf="!isLoadingLanguageKey">
      <app-language-key-form [languageKey]="languageKey$ | async" [isLoading]="isLoading$ | async"
        [canEditLanguageKey]="canEditLanguageKey$ | async" [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)">
      </app-language-key-form>
    </div>
  </div>
</div>
