<div class="page">
  <div class="page__section">
    <app-page-header
      [label]="title"
      buttonLabel="Back to Language Keys"
      link="/keys"
    >
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container" *ngIf="!isLoadingLanguageKey">
      <app-language-key-form
        [languageKey]="languageKey$ | async"
        [isLoading]="isLoading$ | async"
        [canEditLanguageKey]="canEditLanguageKey$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
        [actionError]="actionErrors$ | async"
        [actionType]="actionType"
      >
      </app-language-key-form>
    </div>
  </div>
</div>
