<form
  [formGroup]="userForm"
  #formDirective="ngForm"
  (ngSubmit)="performAction(formDirective)"
  *ngIf="!isLoadingForm; else loadingMask"
  class="page__form"
>
  <app-input-item
    id="firstName"
    name="firstName"
    label="First Name"
    [formControlItem]="firstName"
  >
  </app-input-item>

  <app-input-item
    id="lastName"
    name="lastName"
    label="Last Name"
    [formControlItem]="lastName"
  >
  </app-input-item>

  <app-input-item
    id="email"
    name="email"
    label="Email"
    [formControlItem]="email"
  >
  </app-input-item>

  <app-input-item
    id="mobile"
    name="mobile"
    label="Mobile"
    [formControlItem]="mobile"
  >
  </app-input-item>

  <div class="page__form-button-container" *ngIf="canEditUser">
    <div class="page__form__button">
      <button mat-button type="reset" class="button button_is-secondary">
        Reset
      </button>
    </div>
    <div class="page__form__button">
      <button mat-button type="submit" class="button button_is-primary">
        {{ buttonLabel }}
      </button>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="4"></app-form-loading>
</ng-template>
