<form
  [formGroup]="userForm"
  #formDirective="ngForm"
  (ngSubmit)="performAction(formDirective)"
  *ngIf="!isLoadingForm; else loadingMask"
  class="page__form"
>
  <div class="page__form-content">
    <div class="page__form-input">
      <app-input
        id="firstName"
        name="firstName"
        label="First Name"
        [formControlItem]="firstName"
      >
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input
        id="lastName"
        name="lastName"
        label="Last Name"
        [formControlItem]="lastName"
      >
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input
        id="email"
        name="email"
        label="Email"
        [formControlItem]="email"
      >
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input
        id="mobile"
        name="mobile"
        label="Mobile"
        [formControlItem]="mobile"
      >
      </app-input>
    </div>
  </div>

  <div class="page__form-button-container" *ngIf="canEditUser">
    <div class="page__form__button">
      <app-button-item [isSecondary]="true" type="reset" label="Reset"> </app-button-item>
    </div>
    <div class="page__form__button">
      <app-button-item [label]="buttonLabel"> </app-button-item>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="4"></app-form-loading>
</ng-template>
