<form
  [formGroup]="userForm"
  #formDirective="ngForm"
  (ngSubmit)="performAction(formDirective)"
  *ngIf="!isLoadingForm; else loadingMask"
  class="page__form"
>
  <app-input-item
    id="firstName"
    name="firstName"
    title="First Name"
    [formControlItem]="firstName"
    [validationMessages]="validationMessages"
  >
  </app-input-item>

  <app-input-item
    id="lastName"
    name="lastName"
    title="Last Name"
    [formControlItem]="lastName"
    [validationMessages]="validationMessages"
  >
  </app-input-item>

  <app-input-item
    id="email"
    name="email"
    title="Email"
    [formControlItem]="email"
    [validationMessages]="validationMessages"
  >
  </app-input-item>

  <app-input-item
    id="mobile"
    name="mobile"
    title="Mobile"
    [formControlItem]="mobile"
    [validationMessages]="validationMessages"
  >
  </app-input-item>

  <div class="page__form-button-container" *ngIf="canEditUser">
    <div class="page__form__button">
      <button mat-button type="reset" class="button button_is-secondary">
        Reset
      </button>
    </div>
    <div class="page__form__button">
      <button mat-button type="submit" class="button button_is-primary">
        {{ buttonLabel }}
      </button>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="4"></app-form-loading>
</ng-template>
