<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button
          mat-button
          class="button button_is-primary"
          routerLink="/partners"
        >
          Back To Partners
        </button>
      </div>
    </div>
    <div class="page__form-container">
      <app-partner-form
        [partner]="partner$ | async"
        [isLoading]="isLoading$ | async"
        [canEditPartner]="canEditPartner$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-partner-form>
    </div>
  </div>
</div>
