<div class="page">
  <div class="page__section">
    <app-page-header
      [label]="title"
      buttonLabel="Back to Partners"
      link="/partners"
    >
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container">
      <app-partner-form
        [partner]="partner$ | async"
        [isLoading]="isLoading$ | async"
        [canEditPartner]="canEditPartner$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        [actionError]="actionErrors$ | async"
        [actionType]="actionType"
        (submitForm)="performAction($event)"
      >
      </app-partner-form>
    </div>
  </div>
</div>
