<form [formGroup]="productForm" #formDirective="ngForm" (ngSubmit)="performAction(formDirective)" class="page__form"
  *ngIf="!isLoadingForm; else loadingMask">
  <div class="page__form-content">
    <div class="page__form-input">
      <app-input id="name" name="name" label="Name" [formControlItem]="name">
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input id="description" name="description" label="Description" [formControlItem]="description">
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input id="retailPrice" name="retailPrice" label="Retail Price" type="number" [formControlItem]="retailPrice">
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input id="originalPrice" name="originalPrice" label="Original Price" type="number"
        [formControlItem]="originalPrice">
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input id="quantity" name="quantity" label="Quantity" type="number" [formControlItem]="quantity">
      </app-input>
    </div>

    <div class="page__form-input">
      <app-input id="unitOfCount" name="unitOfCount" label="Unit Of Count" [formControlItem]="unitOfCount">
      </app-input>
    </div>

    <div class="page__form-input" *ngIf="isUpdate">
      <app-input id="code" name="code" label="Code" [formControlItem]="code" [readonly]="true">
      </app-input>
    </div>

    <div class="page__form-input">
      <div class="form-item">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="categoryId" label="Category">
            <ng-select [searchable]="false" [clearable]="false" formControlName="categoryId">
              <ng-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}</ng-option>
            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>
    <div class="page__form-input">
      <div class="form-item">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="brandId" label="Brand">
            <ng-select [searchable]="false" [clearable]="false" [items]="brands" bindLabel="name" bindValue="id"
              formControlName="brandId">

            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>
    <div class="page__form-input">
      <div class="form-item">
        <div class="form-item__value form-item__value_is-textfield">
          <app-image-preview (imageSelected)="uploadImage($event)" [resetImage]="resetImage">
          </app-image-preview>
        </div>
      </div>
    </div>
  </div>
  <div class="page__form-button-container" *ngIf="canEditProduct">
    <div class="page__form__button">
      <app-button-item [isSecondary]="true" type="reset" label="Reset"> </app-button-item>
    </div>
    <div class="page__form__button">
      <app-button-item [label]="buttonLabel"> </app-button-item>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="8"></app-form-loading>
</ng-template>
