<div class="filters__container">
  <form
    class="filters__form"
    #ngForm="ngForm"
    [formGroup]="filterForm"
    (ngSubmit)="submitFilters()"
  >
    <div class="filters__item-container">
      <div class="filters__item">
        <app-input
          id="searchQuery"
          name="searchQuery"
          label="Search By Name and Email"
          [formControlItem]="searchQuery"
        >
        </app-input>
      </div>
    </div>

    <div class="filters__button-container">
      <div class="filters__button">
        <app-button-item
          [disabled]="isFormEmpty"
          type="reset"
          [isSecondary]="true"
          label="Clear Filters"
          (click)="resetFilters()"
        >
        </app-button-item>
      </div>

      <div class="filters__button">
        <app-button-item
          label="Apply Filters"
          [disabled]="isFormEmpty"
        ></app-button-item>
      </div>
    </div>
  </form>
</div>
