<div class="filters__container">
  <form
    class="filters__form"
    #ngForm="ngForm"
    [formGroup]="filterForm"
    (ngSubmit)="submitFilters()"
  >
    <div class="filters__item-container">
      <div class="filters__item">
        <app-input-item
          id="searchQuery"
          name="searchQuery"
          label="Search By Name and Email"
          [formControlItem]="searchQuery"
        >
        </app-input-item>
      </div>
    </div>

    <div class="filters__button-container">
      <div class="filters__button">
        <button
          [disabled]="isFormEmpty"
          type="reset"
          mat-button
          class="button button_is-secondary"
          (click)="resetFilters()"
        >
          Clear Filters
        </button>
      </div>

      <div class="filters__button">
        <button
          [disabled]="isFormEmpty"
          type="submit"
          mat-button
          class="button button_is-primary"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </form>
</div>
