<div class="page-header">
  <div class="page-header__container">
    <div class="page-header__item-container">
      <div class="page-header__item">
        <div class="page-header__title">
          {{ label }}
        </div>
      </div>
      <div class="page-header__item" *ngIf="condition">
        <app-button-item
          *ngIf="link; else buttonWithAction"
          [link]="link"
          [label]="buttonLabel"
        >
        </app-button-item>
        <ng-template #buttonWithAction>
          <app-button-item (click)="sendAction()" [label]="buttonLabel">
          </app-button-item>
        </ng-template>
      </div>
    </div>
    <div class="page-header__item-container">
      <ng-content></ng-content>
    </div>
  </div>
</div>
