@import '../../../../assets/styles/global';
@import '../../../../assets/styles/mixins';

:host {
  width: 100%;
}

.page-header {
}

.page-header__container {
  background-color: $global--background-color;
  color: $global--primary-color;
}

.page-header__item-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.page-header__item {
  font-size: 14px;
}

.page-header__title {
  font-size: 21px;
}
