<form [formGroup]="brandForm" #formDirective="ngForm" (ngSubmit)="performAction(formDirective)" class="page__form"
  *ngIf="!isLoadingForm; else loadingMask">
  <div class="page__form-content">
    <div class="page__form-input">
      <app-input id="name" name="name" label="Name" [formControlItem]="name">
      </app-input>
    </div>

    <div class="page__form-input">
      <div class="form-item">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="manufacturerId" label="Manufacturer">
            <ng-select [searchable]="false" [clearable]="false" [items]="manufacturers" bindLabel="name" bindValue="id"
              formControlName="manufacturerId">
            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>
  </div>
  <div class="page__form-button-container" *ngIf="canEditBrand">
    <div class="page__form__button">
      <app-button-item [isSecondary]="true" type="reset" label="Reset"> </app-button-item>
    </div>
    <div class="page__form__button">
      <app-button-item [label]="buttonLabel"> </app-button-item>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="2"></app-form-loading>
</ng-template>
