<div
  class="app"
  *ngIf="!(isAppLoading$ | async)"
  [ngClass]="{ 'app_is-menu-open': isMenuOpened }"
>
  <div class="app__container" *ngIf="isLoggedIn; else login">
    <div class="app__body">
      <div
        class="app__nav-container"
        appClickOutside
        (clickOutside)="closeMenu()"
      >
        <div class="app__nav-bar">
          <app-nav-bar></app-nav-bar>
        </div>
      </div>
      <div class="app__body-container">
        <div class="app__body-header">
          <app-header></app-header>
        </div>
        <div class="app__body-section">
          <router-outlet></router-outlet>
        </div>
        <div class="app__footer">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
  <ng-template #login>
    <div class="app__container">
      <div class="app__login">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>
</div>
