<div class="app" *ngIf="!isAppLoading">
  <div class="app__header"></div>
  <div class="app__body" *ngIf="isLoggedIn; else login">
    <div class="app__nav-container">
      <div class="app__nav-bar">
        <app-nav-bar></app-nav-bar>
      </div>
    </div>
    <div class="app__body-container">
      <div class="app__body-header">
        <app-header></app-header>
      </div>
      <div class="app__body-section">
        <router-outlet></router-outlet>
      </div>
      <div class="app__footer">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  <ng-template #login>
    <div class="app__body">
      <div class="app__login">
        <app-login></app-login>
      </div>
    </div>
  </ng-template>
</div>
