<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button mat-button class="button button_is-primary" routerLink="/languages">
          Back To Languages
        </button>
      </div>
    </div>
    <div class="page__form-container" *ngIf="!isLoadingLanguage">
      <form
        [formGroup]="languageForm"
        #formDirective="ngForm"
        (ngSubmit)="performAction(languageForm, formDirective)"
        class="page__form"
      >
        <div class="form-item">
          <div class="form-item__value form-item__value_is-textfield">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input
                matInput
                id="name"
                name="name"
                placeholder="Name"
                [formControl]="name"
              />
              <mat-error *ngFor="let validation of validationMessages.name">
                <mat-error
                  class="error-message"
                  *ngIf="
                    name.hasError(validation.type) &&
                    (name.dirty || name.touched)
                  "
                >
                  {{ validation.message }}</mat-error
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-item">
          <div class="form-item__value form-item__value_is-textfield">
            <mat-form-field appearance="outline">
              <mat-label>Code</mat-label>
              <input
                matInput
                id="code"
                name="code"
                placeholder="Code"
                [formControl]="code"
              />
              <mat-error
                *ngFor="let validation of validationMessages.description"
              >
                <mat-error
                  class="error-message"
                  *ngIf="
                    code.hasError(validation.type) &&
                    (code.dirty || code.touched)
                  "
                >
                  {{ validation.message }}</mat-error
                >
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="page__form-button-container" *ngIf="canEditLanguage">
          <div class="page__form__button">
            <button mat-button type="reset" class="button button_is-secondary">
              Reset
            </button>
          </div>
          <div class="page__form__button">
            <button mat-button type="submit" class="button button_is-primary">
              {{ buttonLabel | async }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
