<div class="page">
  <div class="page__container">
    <div class="page__section">
      <div class="page__title-container">
        <div class="page__title">
          {{ title }}
        </div>
      </div>
      <div class="page__actions">
        <button
          mat-button
          class="button button_is-primary"
          routerLink="/languages"
        >
          Back To Languages
        </button>
      </div>
    </div>
    <div class="page__form-container">
      <app-language-form
        [language]="language$ | async"
        [isLoading]="isLoading$ | async"
        [canEditLanguage]="canEditLanguage$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-language-form>
    </div>
  </div>
</div>
