.form-loading {

}

.form-loading__items {
    padding: 0 20px;
}

.form-loading__item-container {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  padding: 16px;
  margin-bottom: 20px;
  width: 300px;
}

.form-loading__item {
  height: 10px;
  background-color: #dcc8c8;
}
