<div class="authentication__section">
  <div class="authentication__title">
    Login
  </div>
  <form
    [formGroup]="loginForm"
    #formDirective="ngForm"
    (ngSubmit)="login(loginForm, formDirective)"
    class="authentication__form"
  >
    <div class="authentication__form-section">
      <div class="authentication__form-item">
        <app-input
          id="email"
          name="email"
          label="Email"
          [formControlItem]="email"
        >
        </app-input>
      </div>
      <div class="authentication__form-item">
        <app-input
          id="password"
          name="password"
          type="password"
          label="Password"
          [formControlItem]="password"
        >
        </app-input>
      </div>
    </div>
    <div class="authentication__form-section">
      <div class="authentication__button-container">
        <div class="authentication__button">
          <app-button-item [label]="loginLabel | async"></app-button-item>
        </div>
      </div>
      <div class="authentication__form-item authentication__form-item_is-link">
        <a class="authentication__form-link" (click)="goToResetPassword()">
          Forgot your password?
        </a>
      </div>
    </div>
  </form>
</div>
