<div class="page">
  <div class="page__section">
    <app-page-header
      [label]="title"
      buttonLabel="Back to Permissions"
      link="/permissions"
    >
    </app-page-header>
  </div>
  <div class="page__container">
    <div class="page__form-container">
      <app-permissions-form
        [permission]="permission$ | async"
        [isLoading]="isLoading$ | async"
        [canEditPermission]="canEditPermission$ | async"
        [isLoadingAction]="isLoadingAction$ | async"
        (submitForm)="performAction($event)"
      >
      </app-permissions-form>
    </div>
  </div>
</div>
