<div class="filters__container">
  <form
    class="filters__form"
    #ngForm="ngForm"
    [formGroup]="filterForm"
    (ngSubmit)="submitFilters()"
  >
    <div class="filters__item-container">
      <div class="filters__item">
        <app-input-item
          id="firstName"
          name="firstName"
          title="First Name"
          [formControlItem]="firstName"
        >
        </app-input-item>
      </div>

      <div class="filters__item">
        <app-input-item
          id="lastName"
          name="lastName"
          title="Last Name"
          [formControlItem]="lastName"
        >
        </app-input-item>
      </div>

      <div class="filters__item">
        <app-input-item
          id="email"
          name="email"
          title="Email"
          [formControlItem]="email"
        >
        </app-input-item>
      </div>
      <div class="filters__item">
        <app-input-item
          id="mobile"
          name="mobile"
          title="Mobile"
          [formControlItem]="mobile"
        >
        </app-input-item>
      </div>
    </div>
    <div class="filters__button-container">
      <div class="filters__button">
        <button
          [disabled]="isFormEmpty"
          type="reset"
          mat-button
          class="button button_is-secondary"
          (click)="resetFilters()"
        >
          Clear Filters
        </button>
      </div>

      <div class="filters__button">
        <button
          [disabled]="isFormEmpty"
          type="submit"
          mat-button
          class="button button_is-primary"
        >
          Apply Filters
        </button>
      </div>
    </div>
  </form>
</div>
