<div class="page">
  <mat-progress-bar
    *ngIf="isLoading$ | async"
    class="page__progress-bar"
    mode="indeterminate"
    color="primary"
  >
  </mat-progress-bar>
  <div class="page__section">
    <app-page-header
      label="Language Keys"
      buttonLabel="Add language Key"
      [condition]="canAddKey | async"
      (action)="addLanguageKey()"
    >
      <div class="page__filters-container">
        <div class="page__filter-item page__filter-item_is-search">
          <app-search-input
            placeholder="Search"
            [filterHandler]="filterHandler"
            (filter)="getLanguageKeys()"
          ></app-search-input>
        </div>
      </div>
    </app-page-header>
  </div>
  <div class="page__container">
    <mat-table
      mat-table
      matSort
      (matSortChange)="sortItems($event)"
      [dataSource]="languageKeys$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let languageKey">{{ languageKey.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let languageKey">{{
          languageKey.name
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let languageKey">
          {{ languageKey.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let languageKey" class="action-link">
          <a class="table__action" (click)="editLanguageKey(languageKey.id)"
            ><mat-icon>edit</mat-icon></a
          >
          <a
            class="table__action"
            (click)="deleteLanguageKey(languageKey.id)"
            *ngIf="canDeleteKey | async"
            ><mat-icon>delete</mat-icon></a
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      [length]="totalNumberOfItems$ | async"
      [pageSize]="perPage"
      (page)="setPage($event)"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
