<div class="page">
  <div class="page__section">
    <app-page-header
      label="Products"
      buttonLabel="Add Product"
      [condition]="canAddProduct | async"
      (action)="addProduct()"
    >
      <div class="page__filters-container">
        <div class="page__filter-item page__filter-item_is-search">
          <app-search-input
            placeholder="Search"
            (filter)="getProducts($event)"
          ></app-search-input>
        </div>
        <div class="page__filter-item">
          <app-filter-control
            [filterSubject]="filterSubject"
            [resetSubject]="resetSubject"
            (filter)="getProducts($event)"
          >
            <app-product-filters
              [retailPriceRange]="retailPriceRange$ | async"
              [originalPriceRange]="originalPriceRange$ | async"
              [categories]="categories$ | async"
              [filter]="filterSubject"
              [resetSubject]="resetSubject"
            ></app-product-filters>
          </app-filter-control>
        </div>
      </div>
    </app-page-header>
  </div>
  <div class="page__container">
    <mat-table
      mat-table
      [dataSource]="products$ | async"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let product">
          {{ product.description }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <div class="table__image-container">
            <img class="table__image" [src]="product.media.imageUrl" alt="" />
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let product">
          <p *ngIf="product.category">
            {{ product.category.name }}
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let product" class="action-link">
          <a class="table__action" (click)="editProduct(product.id)"
            ><mat-icon>edit</mat-icon></a
          >
          <a
            class="table__action"
            (click)="deleteProduct(product.id)"
            *ngIf="canDeleteProduct | async"
            ><mat-icon>delete</mat-icon></a
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      [pageSizeOptions]="[20, 50, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
