.button {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  transition: 0.2s ease-in-out all;
  background-color: $global--secondary-color;
  color: #fff;
  &:hover {
    background-color: $global--secondary-color-hover;
  }

  &_is-secondary {
    background-color: $global--button-secondary-color;
    &:hover {
      background-color: $global--button-secondary-color-hover;
    }
  }

  &:disabled {
    background-color: #b9b9b9;
  }

  &_is-clicked {
    transform: scale(0.96);
  }
}
