.filters {
}

.filters__container {
}

.filters__form {
}

.filters__item-container {
  display: flex;
}

.filters__item-section {
  width: 100%;
  &:not(:last-child) {
    border-right: 1px solid $global--border-color;
  }
}

.filters__item-label {
  font-size: 14px;
  border-bottom: 1px solid $global--border-color;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.filters__item-input {
  padding: 10px 20px;
}

.filters__button-container {
  display: flex;
}

.filters__button {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
