.form-item {
  width: 100%;
}

.form-item__value {
}

.form-item__input {
  border-radius: 3px;
  padding: 10px;
  width: 100%;
  border: 1px solid #babbbe;
  font-size: 14px;
  &:hover {
    border-color: #000;
    border-width: 2px;
  }
  &:focus {
    border-color: $global--secondary-color;
    border-width: 2px;
  }
}
