$mq-breakpoints: (mobile: 266px,
  mobile-plus: 390px,
  tablet: 740px,
  tablet-plus: 950px,
  desktop: 980px,
  wide: 1300px);
$global--primary-color: #444F5D;
$global--primary-color-hover: #262D37;
$global--secondary-color: #4099DF;
$global--secondary-color-hover: #375c9b;
$global--button-secondary-color: #aaaaaa;
$global--button-secondary-color-hover: #959595;
$global--border-color: #e6e6e6;
$global--error-color: #96251c;
$global--background-color: rgb(244, 244, 245);
$global--font-family: 'Ubuntu', sans-serif;
