$global--primary-color: #444F5D;
$global--primary-color-hover: #262D37;
$global--secondary-color: #4099DF;
$global--secondary-color-hover: #375c9b;
$global--button-secondary-color: #aaaaaa;
$global--button-secondary-color-hover: #959595;
$global--border-color: #e6e6e6;
$global--background-color: rgb(244, 244, 245);
