.page__container {
  @include container;
  background-color: #fff;
}

.page__section {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.page__title-container {
  flex: 1;
}

.page__title {
  @include title;
}

.page__form-content {
  padding: 0 20px;
}

.page__form-input {
  margin-bottom: 5px;
}

.page__form-container {
  padding-top: 20px;
  box-shadow: 1px 1px 6px 0px #00000047;
}

.page__form-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: $global--background-color;
}

.page__form__button {
  min-width: 100px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.page__upload-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.page__upload-button {
  margin-right: 20px;
}

.page__upload-error {
  background-color: rgb(105, 17, 17);
  color: #fff;
  font-size: 14px;
}

.page__upload-image-container {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.page__upload-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.page__upload-name {
  font-size: 14px;
  color: $global--primary-color;
  margin-bottom: 20px;
}

.page__form-item {
  margin-bottom: 10px;
}

.page__filters-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page__filter-item {
  &_is-search {
    width: 350px;
  }
}

.page .mat-progress-bar {
  position: fixed;
  top: 0;
}
