.snack-bar {
  &_is-success {
  }

  &_is-error {
    background: $global--error-color;
    color: white;
  }

  &_is-arabic {
    direction: rtl;
  }
}

.mat-simple-snackbar-action {
  color: #fff;
}
