.table {
  width: 100%;
}

.table__action {
  cursor: pointer;
  padding: 0 5px;
}

.table__image-container {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.table__image {
  width: 100%;
}

.table__action .mat-icon {
  font-size: 20px;
  width: 15px;
  height: 15px;
}
