<div class="authentication__section">
  <div class="authentication__title">
    Enter Your Email
  </div>
  <div class="authentication__description">
    If you can't access Smartways, fill in this form and an email will be sent
    to you with the details to access your account again.
  </div>
  <form
    [formGroup]="resetPasswordForm"
    #formDirective="ngForm"
    (ngSubmit)="sendResetPassword(resetPasswordForm, formDirective)"
    class="authentication__form"
  >
    <div class="authentication__form-section">
      <div class="authentication__form-item">
        <app-input
          id="email"
          name="email"
          label="Email"
          [formControlItem]="email"
        >
        </app-input>
      </div>
    </div>
    <div class="authentication__form-section">
      <div class="authentication__button-container">
        <div class="authentication__button">
          <app-button-item class="button button_is-primary" [label]="resetLabel | async ">
          </app-button-item>
        </div>
      </div>
      <div class="authentication__form-item authentication__form-item_is-link">
        <a class="authentication__form-link" (click)="gotToLogin()">
          I remembered my password
        </a>
      </div>
    </div>
  </form>
</div>
