<form [formGroup]="translationForm" #formDirective="ngForm" (ngSubmit)="performAction(formDirective)" class="page__form"
  *ngIf="!isLoadingForm; else loadingMask">
  <div class="page__form-content">
    <div class="page__form-input">
      <div class="form-item" *ngIf="!isLoadingLanguages">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="languageId" label="Language">
            <ng-select [searchable]="false" [clearable]="false" formControlName="languageId">
              <ng-option *ngFor="let language of languages" [value]="language.id">
                {{ language.name }}</ng-option>
            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>
    <div class="page__form-input">
      <div class="form-item" *ngIf="!isLoadingLanguageKeys">
        <div class="form-item__value form-item__value_is-textfield">
          <app-custom-select [formControlItem]="languageKeyId" label="Key">
            <ng-select [searchable]="false" [clearable]="false" formControlName="languageKeyId">
              <ng-option *ngFor="let languageKey of languageKeys" [value]="languageKey.id">
                {{ languageKey.name }}</ng-option>
            </ng-select>
          </app-custom-select>
        </div>
      </div>
    </div>

    <div class="page__form-input">
      <app-text-area id="value" name="value" label="Value" [formControlItem]="value">
      </app-text-area>
    </div>
  </div>
  <div class="page__form-button-container" *ngIf="canEditTranslation">
    <div class="page__form__button">
      <app-button-item [isSecondary]="true" type="reset" label="Reset"> </app-button-item>
    </div>
    <div class="page__form__button">
      <app-button-item [label]="buttonLabel"> </app-button-item>
    </div>
  </div>
</form>
<ng-template #loadingMask>
  <app-form-loading [size]="4"></app-form-loading>
</ng-template>
